@import "./app.scss";

.navbar {
  color: lightgray;

  .wrapper {
    max-width: 2500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 10px;

@include mobile{
  gap:0px;
}
    }

    .icon {
      width: 35px;
      height: 35px;
      margin-right: 20px;

      @include mobile {
        width: 25px;
        height: 25px;
      }
    }
    .icon:hover {
      scale: 1.1;
    }
    .top-text{
        font-size: 25px;
    }
  }
}
