.navbar {
  color: lightgray;

  .wrapper {
    max-width: 2500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 10px;
    }

    .icon {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
    .top-text{
        font-size: 25px;
    }
  }
}
